// @import '~antd/dist/antd.css';
// @import "primereact/resources/themes/lara-light-indigo/theme.css";  //theme
// @import "primereact/resources/primereact.min.css";                  //core css
// @import "primeicons/primeicons.css";                                //icons

@import 'rsuite/styles/index.less'; 


.rs-checkbox-checker {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 36px;
  height: 22px;
  min-height: 22px;
  line-height: 1;
  position: relative;
}

.rs-checkbox-wrapper {
  position: absolute;
  width: 16px;
  height: 16px;
  display: inline-block;
  left: 10px;
  top: 0px;
}